@font-face {
  font-family: LibreFranklin;
  src: url(fonts/libre_franklin/LibreFranklin-SemiBold.ttf);
}
body {
  font-family: LibreFranklin;
}
h1 {
  font-size: 48px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.left_block,
.right_block {
  float: left;
}
.left_block {
  width: 35%;
  > div {
    margin-left: 27%;
  }
}
.right_block {
  width: 65%;
}
li {
  list-style: none;
}
.blue {
  background-color: #0d3a7f;
}
header {
  border: solid 0.5px #8ca0bf;
  display: flex;
  .left_block {
    align-items: center;
    background-color: #ebf3ff;
    display: flex;
    justify-content: flex-start;
  }
  nav {
    width: 70%;
    float: left;
  }
  ul {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 33px;
    margin-top: 34px;
    li {
      display: inline-flex;
      font-size: 12px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.83;
      letter-spacing: 0.6px;
      text-transform: uppercase;
    }
  }
  .button_block {
    float: left;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border-left: solid 0.5px #8ca0bf;
    }
  }
}
.body {
  display: flex;
  height: calc(100vh - 200px);
  .left_block {
    display: flex;
    align-self: stretch;
    align-items: center;
  }
  .right_block {
    background-image: url(/static/media/back.b046465b.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
