:root {
  --bluey-grey: #8ca0bf;
  --dark: #242c33;
  --pale-grey: #ebf3ff;
  --lipstick: #d8204f;
  --macaroni-and-cheese: #f3b03b;
  --ocean-green: #317b6c;
  --deep-violet: #470a5a;
  --very-light-blue: #dfe7f2;
  --dark-grey-blue: #364459;
  --aqua-marine: #43d9d1;
}
@font-face {
  font-family: MuseoSansCyrl;
  src: url(fonts/MuseoSansCyrl/MuseoSansCyrl-900.ttf);
  font-weight: 900;
}
@font-face {
  font-family: LibreFranklin;
  src: url(fonts/libre_franklin/LibreFranklin-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: LibreFranklin-medium;
  src: url(fonts/libre_franklin/LibreFranklin-Medium.ttf);
  font-weight: 600;
}
body {
  font-family: LibreFranklin;
  font-style: normal;
  font-stretch: normal;
}
h1 {
  font-size: 48px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-bottom: 15px;
  margin-top: 0;
}
.h1__span-gradient {
  background-image: linear-gradient(to right, #16c2b859, rgba(22, 194, 184, 0));
  padding: 0px 10px;
  padding-bottom: 7px;
  background-size: 100% 46px;
  background-position: center;
  background-repeat-y: no-repeat;
}
input {
  outline: none;
}
button {
  border: none;
  outline: none;
}

.button:hover {
  color: var(--aqua-marine);
}
.leftBlock,
.rightBlock,
.header__logoBlock {
  float: left;
}

.leftBlock,
.header__logoBlock {
  width: 35%;
}
.leftBlock__content {
  margin-left: 27%;
}
.rightBlock {
  width: 65%;
  background-color: white;
}
li {
  list-style: none;
}
.blue {
  background-color: #0d3a7f;
}

@media only screen and(max-width:1024px) {
  .form {
    width: 100%;
  }
  h1 {
    font-size: 45px;
  }
  .leftBlock__content {
    margin-left: 10%;
  }
}
@media only screen and(min-width:768px) {
  .only_mobile {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .section__form {
    width: 100%;
  }
  .form__block-location {
    width: 33%;
  }
}
@media only screen and(max-width:767px) {
  h1 {
    letter-spacing: 0.9px;
    font-size: 36px;
  }
  .hide_molile {
    display: none;
  }
  .leftBlock {
    width: 100%;
    min-height: calc(100vh - 160px);
    text-align: center;
  }

  .leftBlock__content {
    margin: 0;
  }
  .leftBlock__content-body {
    padding: 0px 57px;
  }
  .body {
    background-image: url(./img/back_mob.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: max-content;
    // height: calc(100vh - 61px);
    flex-direction: column;
  }

  .rightBlock {
    width: 60px;
    background-color: white;
  }
  .header__logoBlock {
    width: 100%;
    height: 60px;
    align-items: center;
  }
  .header__buttonBlock {
    width: 60px;
  }
  .header__button-mobile {
    width: 60px;
    height: 100%;
  }
  .header__logo-svg {
    margin-left: 20px;
    width: 108px;
    height: 44px;
  }
  .mobile_nav {
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-right: solid 0.5px var(--bluey-grey);
  }
  .mobile_nav__svg {
    margin-top: 12px;
  }
  .no_blue {
    background: none;
  }
  .navitation__a-mobile {
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .navitation__ul-mobile {
    padding: 0;
  }
  .navitation__li-mobile {
    display: inline-flex;
    padding: 0 10px;
  }
  .leftBlock__discription {
    margin: 0;
    max-height: 40px;
    overflow: hidden;
  }
  .section__form {
    position: relative;
    width: 100%;
    display: flex;
    height: 100%;
    box-shadow: 0 6px 21px 0 rgba(140, 160, 191, 0.24);
  }
  .form__content-mobile {
    margin: 0px 20px;
    margin-bottom: 47px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .form__block-mobile {
    width: 100%;
  }
  .form__block {
    width: 100%;
    height: 60px;
  }
  .form__button {
    width: 100%;
    height: 60px;
  }
  .form_mobile {
    position: relative;
    height: 100%;
  }
}
@media only screen and (max-width: 340px) {
  .leftBlock__content-body {
    padding: 0px 20px;
  }
  .form__input-location {
    min-width: 220px;
  }
}
